<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Project</title>
    {% load static %}
    <link href="{% static 'src/styles.css' %}" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 font-sans min-h-screen flex flex-col">

    <!-- Navbar -->
    <header >
    {% include "components/_navbar.html" %}  
    </header>

    <!-- Form Section -->
    <main class="flex-grow pt-[100px]">
        <section class="max-w-3xl mx-auto bg-white p-8 shadow-2xl rounded-lg border">
            <h1 class="text-3xl font-bold mb-6 text-center">Add New Project</h1>

            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="mb-4">
                    <label class="block font-medium mb-1">Title</label>
                    <input type="text" name="title" class="w-full border rounded px-3 py-2" required>
                    <span>{{error.title}}</span>
                </div>

                 <div class="mb-4">
                    <label class="block font-medium mb-1">Project Image</label>
                    <input type="file" name="image" accept="image/*" class="w-full border rounded px-3 py-2" required>
                       <span>{{error.image}}</span>
                </div>

                <div class="mb-4">
                    <label class="block font-medium mb-1">Description</label>
                    <input type="text" name="description" class="w-full border rounded px-6 py-4" required>
                    <span>{{error.description}}</span>
                </div>

                <button type="submit" class="bg-blue-600 text-white px-6 py-2 rounded hover:bg-blue-500">
                    Add Project
                </button>
            </form>
        </section>
    </main>

    <!-- Optional Footer -->
    <footer class="text-center py-4 text-gray-500">
        © 2025 Your Portfolio
    </footer>

</body>
</html>

